/* page setup */

* {
    text-align: center;
    font-family: 'Fondamento', sans-serif;
}

.content {
    width: 40rem;
    height: 40rem;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 0 auto;
}

form {
    text-align: center;
}

input {
    text-align: center;
}

select {
    display: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}